.apt_generated
.bloop
.bsp
.cache-main
.cache-tests
.classpath
.DS_Store
.factorypath
.gradle/
.idea/
.metals/
.project
.settings/
.springBeans
.sts4-cache
.vs/
.vscode/
*.class
*.ear
*.iws
*.iml
*.ipr
*.jar
*.log
*.war
*/*/data/elasticsearch
*/*/test-output/
!gradle-wrapper.jar
a.out
bin/
obj/
go/pkg/
go/src/github.com/
kotlin/*/build/
metals.sbt
node_modules/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
target/
